*{
    border: none;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #333;
}

.container> img{
    white-space: pre-wrap;
    position: absolute;
    left: 48px;
    top: -42px;
    width: 94.5%;
    /* z-index: 999; */
    opacity: 100%;
}

canvas{
    /* background-color: chartreuse; */
    border: black 2px solid;
    /* height: 560px;
    width: 800px; */
    opacity: 80%;
}